STELLAR_NETWORK=testnet
STELLAR_RPC_URL=
STELLAR_NETWORK_PASSPHRASE=
DEPLOYER_SECRET_KEY=
ASSET_REGISTRY_CONTRACT_ID=CC2GWK2JEDT6G47NA5XH4LEBRLHL34LNY72UYYSVLRPKPYFSJNDKJU5K
PREDICTION_MARKET_CONTRACT_ID=CB7XCM66LQNCSA2UXKNQEOTGKQU5WFSQ57IKUIBLLV6YAUOJVBJUA74I
REPUTATION_CONTRACT_ID=CAOZO7ME4NFKJSKDWGMRQM3OI2WO2HCDKJPDTTXL2RLR2BERVEJWAIQZ
REWARDS_CONTRACT_ID=CCZ7YDOEZMMR7ZLBIW7YVWEYL2W3WUXISRUQVPTUUMAJ7BGED4AVBZEV
CLAUDE_API_KEY=
DATABASE_URL=
API_PORT=3001
AGENT_POLL_INTERVAL_SECS=60
